h1 {
  font-size: 4rem;
  font-family: "Raleway";
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}
h2 {
  font-size: 2rem;
  font-family: "Raleway";
  font-weight: 400;
  color: #666;
}
p {
  font-size: 1.6rem;
  font-family: "Open Sans";
  font-weight: 400;
  color: #969da7;
}
* {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  background: hsl(217, 28%, 15%);
}
body {
  width: 90%;
  max-width: 155rem;
  margin: 0 auto;
  margin-top: 4rem;
}
.container-intro,
.container-feature {
  width: 100%;
  margin: 0 auto;
}
.container-intro {
  position: relative;
}
.wavy {
  position: absolute;
  width: 100%;
  z-index: 1;
  bottom: 0;
}
.container-feature {
  background: hsl(218, 28%, 13%);
  position: relative;
  z-index: 2;
}
.testimonials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: hsl(218, 28%, 13%);
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
  padding: 0 5rem;
}
.nav {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  margin-left: 1rem;
}
.nav__links {
  margin-right: 1rem;
}
@media (max-width: 1000px) {
  .nav__links {
    display: none;
  }
}
.nav__link {
  color: #969da7;
  font-size: 2rem;
  font-family: "Open Sans";
  margin-right: 4rem;
  text-decoration: none;
}
.nav__link--3 {
  margin-right: 0;
}
.nav .hamburger {
  display: none;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 0;
  right: 0;
}
.nav .hamburger > * {
  display: block;
  width: 5rem;
  height: 4px;
  border-radius: 5px;
  background: white;
}
@media (max-width: 1000px) {
  .nav .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
.header {
  text-align: center;
  position: relative;
  z-index: 99;
}
.header__container {
  margin: 0 auto;
  width: 60%;
  line-height: 1.6;
}
.header__img {
  width: 100%;
  max-width: 85rem;
  height: auto;
  object-fit: contain;
}
.header__heading-sub {
  color: #969da7;
}
.header__button {
  margin: 4rem 0;
  margin-bottom: 5rem;
  border: none;
  padding: 1.5rem 6rem;
  border-radius: 50px;
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  color: hsl(0, 0%, 100%);
  font-size: 1.8rem;
  font-weight: 700;
}
.feature {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.feature__box {
  padding: 5rem 0;
  width: 40%;
  align-self: stretch;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.feature__img {
  height: 75px;
}
.feature__text--heading {
  font-size: 3rem;
  color: hsl(0, 0%, 100%);
}
.feature__text--description {
  color: #969da7;
  font-size: 2rem;
  line-height: 1.7;
}
.feature__intro-img {
  width: 40%;
  height: auto;
  margin-right: 8rem;
}
.feature__texts {
  width: 40%;
  color: hsl(0, 0%, 100%);
}
.feature__texts--heading {
  width: 100%;
  font-size: 4rem;
  font-family: "Raleway";
  line-height: 1.8;
}
.feature__texts--description {
  width: 100%;
  font-size: 2rem;
  font-family: "Open Sans";
  line-height: 1.6;
  margin-bottom: 3.3rem;
}
.feature__button {
  border: none;
  border-bottom: 1px solid hsl(176, 68%, 64%);
  background: transparent;
  color: hsl(176, 68%, 64%);
  font-size: 2.1rem;
  padding: 0;
  padding-right: 2.5rem;
  position: relative;
}
.feature__button::after {
  content: "";
  width: 2rem;
  height: 1.5rem;
  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 1rem;
}
.card {
  margin: 10rem 0;
  flex: 1 1 60rem;
  padding: 3rem;
  background: hsl(219, 30%, 18%);
  box-shadow: 2rem 2rem 3rem rgba(11, 21, 35, 0.5);
}
.card:not(:last-child) {
  margin-right: 5rem;
}
.card:first-child {
  position: relative;
}
.card:first-child::before {
  content: "";
  width: 7rem;
  height: 7rem;
  background-image: url(../images/bg-quotes.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: -4.5rem;
  left: -1.5rem;
  position: absolute;
  z-index: -1;
}
.card__review {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 3rem;
}
.card__photo {
  float: left;
  border-radius: 50px;
  width: 5rem;
}
.card__text {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 7rem;
  margin-top: 4.5rem;
}
.card__text--name {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
}
.card__text--description {
  font-family: "Open Sans";
  font-size: 1.6rem;
  color: #969da7;
}
