h1 {
  font-size: 4rem;
  font-family: "Raleway";
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}
h2 {
  font-size: 2rem;
  font-family: "Raleway";
  font-weight: 400;
  color: #666;
}
p {
  font-size: 1.6rem;
  font-family: "Open Sans";
  font-weight: 400;
  color: #969da7;
}
* {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  background: hsl(217, 28%, 15%);
}
.container-intro,
.container-feature {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}
.container-intro {
  position: relative;
}
.wavy {
  position: absolute;
  width: 100%;
  z-index: 1;
  bottom: 0;
}
.container-feature {
  background: hsl(218, 28%, 13%);
  position: relative;
  z-index: 2;
}
.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  margin-left: 1rem;
}
.nav__links {
  margin-right: 1rem;
}
.nav__link {
  color: #969da7;
  font-size: 2rem;
  font-family: "Open Sans";
  margin-right: 4rem;
  text-decoration: none;
}
.nav__link--3 {
  margin-right: 0;
}
.header {
  text-align: center;
  position: relative;
  z-index: 99;
}
.header__container {
  margin: 0 auto;
  width: 60%;
  line-height: 1.6;
}
.header__img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.header__heading-sub {
  color: #969da7;
}
.header__button {
  margin: 4rem 0;
  margin-bottom: 5rem;
  border: none;
  padding: 1.5rem 6rem;
  border-radius: 50px;
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  color: hsl(0, 0%, 100%);
  font-size: 1.8rem;
  font-weight: 700;
}
.feature {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.feature__box {
  padding: 5rem;
  width: 40%;
  align-self: stretch;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feature__img--wrapper {
  border: 1px solid white;
  width: 100%;
  height: 20%;
}
.feature__img {
  max-height: 150px;
  object-fit: contain;
}
.feature__text--heading {
  font-size: 3rem;
  color: hsl(0, 0%, 100%);
}
.feature__text--description {
  color: #969da7;
  font-size: 2rem;
  line-height: 1.7;
}
.feature__intro-img {
  width: 40%;
  height: auto;
  margin-right: 8rem;
}
.feature__texts {
  width: 40%;
  color: hsl(0, 0%, 100%);
}
.feature__texts--heading {
  width: 100%;
  font-size: 4rem;
  font-family: "Raleway";
  line-height: 1.8;
}
.feature__texts--description {
  width: 100%;
  font-size: 2rem;
  font-family: "Open Sans";
  line-height: 1.6;
  margin-bottom: 3.3rem;
}
.feature__button {
  border: none;
  border-bottom: 1px solid hsl(176, 68%, 64%);
  background: transparent;
  color: hsl(176, 68%, 64%);
  font-size: 2.1rem;
  padding: 0;
  padding-right: 2.5rem;
  position: relative;
}
.feature__button::after {
  content: "";
  width: 2rem;
  height: 1.5rem;
  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 1rem;
}
