h1 {
  font-size: 4rem;
  font-family: "Raleway";
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}
h2 {
  font-size: 2rem;
  font-family: "Raleway";
  font-weight: 400;
  color: #666;
}
p {
  font-size: 1.6rem;
  font-family: "Open Sans";
  font-weight: 400;
  color: #969da7;
}
* {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  background: hsl(217, 28%, 15%);
}
.container-body {
  width: 80%;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  margin-left: 1rem;
}
.nav__links {
  margin-right: 1rem;
}
.nav__link {
  color: #969da7;
  font-size: 2rem;
  font-family: "Open Sans";
  margin-right: 4rem;
  text-decoration: none;
}
.nav__link--3 {
  margin-right: 0;
}
.header {
  border: 1px solid white;
  text-align: center;
}
.header__container {
  margin: 0 auto;
  width: 50%;
  border: 1px solid white;
  line-height: 1.6;
}
.header__img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.header__heading-sub {
  color: #969da7;
}
.header__button {
  margin: 4rem 0;
  margin-bottom: 5rem;
  border: none;
  padding: 1.5rem 6rem;
  border-radius: 50px;
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  color: hsl(0, 0%, 100%);
  font-size: 1.8rem;
  font-weight: 700;
}
