* {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  background: @primary-dark-blue-1;
}
body {
  width: 90%;
  max-width: 155rem;
  margin: 0 auto;
  margin-top: 4rem;
}
.container-intro,
.container-feature {
  width: 100%;
  margin: 0 auto;
}
.container-intro {
  position: relative;
}
.wavy {
  position: absolute;
  width: 100%;
  z-index: 1;
  bottom: 0;
}
.container-feature {
  background: @primary-dark-blue-2;
  position: relative;
  z-index: 2;
}

.testimonials {
  .flex(row, center, center);
  background: @primary-dark-blue-2;
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
  padding: 0 5rem;
}
