.nav {
  // position: relative;
  width: 100%;
  .flex(row, space-between, center);

  &__logo {
    margin-left: 1rem;
  }
  &__links {
    margin-right: 1rem;
    @media (max-width: 1000px) {
      display: none;
    }
  }
  &__link {
    color: @links;
    font-size: @sub-header;
    font-family: "Open Sans";
    margin-right: 4rem;
    text-decoration: none;
    &--3 {
      margin-right: 0;
    }
  }
  .hamburger {
    display: none;
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    & > * {
      display: block;
      width: 5rem;
      height: 4px;
      border-radius: 5px;
      background: white;
    }
    @media (max-width: 1000px) {
      .flex(column, space-evenly, center);
    }
  }
}
.modal {
  display: none;
  opacity: 0;
  width: 100%;
  height: 100vh;
  background: @primary-dark-blue-3;
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  color: white;
  &__close {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 5rem;
    cursor: pointer;
  }
  &__links {
    .flex(column, center, center);
    width: 100%;
    height: 100%;
  }
  &__link {
    text-decoration: none;
    color: rgba(200, 200, 200, 0.8);
    font-size: 5rem;
    margin-bottom: 2rem;
    font-family: "Raleway";
    &:hover {
      color: rgba(250, 230, 230, 0.8);
    }
  }
  animation-name: appear;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}
.show {
  display: block;
  opacity: 1;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
